In [1]:

import requests
import pandas as pd
import bs4 
import numpy as np

Get wiki ticker

In [2]:

def get_wiki_ticker():
    wiki_page = requests.get("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies").text
    soup = bs4.BeautifulSoup(wiki_page, 'html.parser')
    table = soup.find("table", {"class":"wikitable sortable"})

    ticker = []
    Sector = []
    SubSector = []
    HqLocation = []
    Founded = []

    # First row is header
    for row in table.findAll('tr')[1:]:
        ticker.append(row.findAll('td')[0].text)
        Sector.append(row.findAll('td')[3].text)
        SubSector.append(row.findAll('td')[4].text)
        HqLocation.append(row.findAll('td')[5].text)
        Founded.append(row.findAll('td')[8].text)

    ticker = list(map(lambda s: s.strip(), ticker))
    Founded = list(map(lambda s: s.strip(), Founded))

    ticker = pd.DataFrame(ticker,columns=['ticker'])
    sector = pd.DataFrame(Sector,columns=['sector'])
    subSector = pd.DataFrame(SubSector,columns=['subSector'])
    hqLocation = pd.DataFrame(HqLocation,columns=['hqLocation'])
    founded = pd.DataFrame(Founded,columns=['founded'])



    return  pd.concat([ticker, sector, subSector, hqLocation,founded],axis=1)

In [3]:
ticker_data = get_wiki_ticker()
# df["sector"] = row['sector']
# df["subSector"] = row['subSector']
# df["hqLocation"] = row['hqLocation']
# df["founded"] = row['founded']

# Get Price data

In [4]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

ticker = 'NVDA'
url_esg = f"https://query2.finance.yahoo.com/v1/finance/esgChart?symbol={ticker}"
response = requests.get(url_esg, headers=headers)
if response.ok:
    tmp_df_esg = pd.DataFrame(response.json()["esgChart"]["result"][0]["symbolSeries"])

In [5]:
def get_yh_esg(ticker_list):
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

    
    #url_esg = "https://query2.finance.yahoo.com/v1/finance/esgChart"
    dataframes_esg = []
    dataframes_price = []

    for ticker in ticker_list:
        # ESG historical data (only changes yearly)
        url_esg = f"https://query2.finance.yahoo.com/v1/finance/esgChart?symbol={ticker}"
        response = requests.get(url_esg, headers=headers)
        if response.ok:
            try:
                tmp_df_esg = pd.DataFrame(response.json()["esgChart"]["result"][0]["symbolSeries"])
            except TypeError:
                continue
            except KeyError:
                continue

            tmp_df_esg["ticker"] = ticker
            tmp_df_esg["timestamp"] = pd.to_datetime(tmp_df_esg["timestamp"], unit="s")
            dataframes_esg.append(tmp_df_esg)

    df_esg = pd.concat(dataframes_esg)


    return df_esg

In [6]:

def get_yh_price(ticker_list, start_period = '1052125800', interval = '1wk'):
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    
    dataframes_price = []

    for i, ticker in enumerate(ticker_list):
        print(f'{i} of {ticker_list.shape[0]-1}')

        # Price data
        url_price = f"http://query2.finance.yahoo.com/v8/finance/chart/{ticker}?symbol={ticker}&period1={start_period}&period2=9999999999&interval={interval}"
        response = requests.get(url_price, headers=headers)
        if response.ok:
            try:
                dates = pd.DataFrame({'timestamp':response.json()["chart"]["result"][0]["timestamp"]})

                #low, open ,volume, close, high
                df_quote = pd.DataFrame(response.json()["chart"]["result"][0]["indicators"]["quote"][0])
                # ad_close
                df_adjclose = pd.DataFrame(response.json()["chart"]["result"][0]["indicators"]["adjclose"][0])

                tmp_df_price = pd.concat([dates, df_quote,df_adjclose], axis=1)
                tmp_df_price['timestamp'] = pd.to_datetime(tmp_df_price['timestamp'], unit = "s")

            except TypeError:
                continue
            except KeyError:
                continue

            tmp_df_price["ticker"] = ticker
            dataframes_price.append(tmp_df_price)

    df_price = pd.concat(dataframes_price)

    return  df_price

In [7]:
from pandas_datareader import data
tickers = ['AAPL','AMZN','TSLA','GOOG']
data.get_quote_yahoo(tickers)['marketCap']

AAPL    2572753305600
AMZN    1264042246144
TSLA     902116081664
GOOG    1508192681984
Name: marketCap, dtype: int64

In [8]:
def get_yh_asset_esg(ticker_list):

    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    
    dataframes_asset_profile = []
    dataframes_company_officers = []
    dataframes_esg_info = []

    for ticker in ticker_list:

        # Price data
        url = f"https://query2.finance.yahoo.com/v10/finance/quoteSummary/{ticker}?modules=assetProfile%2CesgScores"
        response = requests.get(url, headers=headers)
        if response.ok:
            try:
                assetProfile = response.json()["quoteSummary"]["result"][0]["assetProfile"]
                #esg_scores_dict = response.json()["quoteSummary"]["result"][0]["esgScores"]
            except TypeError:
                assetProfile = dict()
            except KeyError:
                assetProfile = dict()
            
            try:
                esg_scores_dict = response.json()["quoteSummary"]["result"][0]["esgScores"]
            except TypeError:
                esg_scores_dict = dict()
            except KeyError:
                esg_scores_dict = dict()
                
            
            df_asset_profile = pd.DataFrame({'address':assetProfile.get('address1', None),
                                            'city':assetProfile.get('city', None),
                                            'state':assetProfile.get('state', None),
                                            'zip':assetProfile.get('zip', None),
                                            'country':assetProfile.get('country', None),
                                            'industry':assetProfile.get('industry', None),
                                            'sector':assetProfile.get('sector', None),
                                            'boardRisk':assetProfile.get('boardRisk', None),
                                            'compensationRisk':assetProfile.get('compensationRisk', None),
                                            'shareHolderRightsRisk':assetProfile.get('shareHolderRightsRisk', None),
                                            'overallRisk':assetProfile.get('overallRisk', None),
                                            'ticker':ticker}, 
                                        index = [0])

            dataframes_asset_profile.append(df_asset_profile)

            officers = {'maxAge':list(),
                        'name':list(),
                        'age':list(),
                        'title':list(),
                        'yearBorn':list(),
                        'fiscalYear':list(),
                        'totalPay':list(),
                        'exercisedValue':list(),
                        'unexercisedValue':list()}

            for item in assetProfile['companyOfficers']:
                officers['maxAge'].append(item.get('maxAge', None))
                officers['name'].append(item.get('name', None))
                officers['age'].append(item.get('age', None))
                officers['title'].append(item.get('title', None))
                officers['yearBorn'].append(item.get('yearBorn', None))
                officers['fiscalYear'].append(item.get('fiscalYear', None))

                if not item.get('totalPay', None) is None:
                    officers['totalPay'].append(item['totalPay'].get('raw', None))
                else:
                    officers['totalPay'].append(None)

                if not item.get('exercisedValue', None) is None:
                    officers['exercisedValue'].append(item['exercisedValue'].get('raw', None))
                else:
                    officers['exercisedValue'].append(None)
                    
                if not item.get('unexercisedValue', None) is None:
                    officers['unexercisedValue'].append(item['unexercisedValue'].get('raw', None))
                else:
                    officers['unexercisedValue'].append(None)

        

            officers = pd.DataFrame(officers)#index = list(range(len(assetProfile['companyOfficers'])))
            officers['ticker'] = ticker


            dataframes_company_officers.append(officers)


            dataframes_esg_info.append( pd.DataFrame({'adult':esg_scores_dict.get('adult', None),
                'alcoholic':esg_scores_dict.get('alcoholic', None),
                'animalTesting':esg_scores_dict.get('animalTesting', None),
                'catholic':esg_scores_dict.get('catholic', None),
                'controversialWeapons':esg_scores_dict.get('controversialWeapons', None),
                'smallArms':esg_scores_dict.get('smallArms', None),
                'furLeather':esg_scores_dict.get('furLeather', None),
                'gambling':esg_scores_dict.get('gambling', None),
                'gmo':esg_scores_dict.get('gmo', None),
                'militaryContract':esg_scores_dict.get('militaryContract', None),
                'nuclear':esg_scores_dict.get('nuclear', None),
                'pesticides':esg_scores_dict.get('pesticides', None),
                'palmOil':esg_scores_dict.get('palmOil', None),
                'coal':esg_scores_dict.get('coal', None),
                'tobacco':esg_scores_dict.get('tobacco',None),
                'ticker':ticker}, index = [0])
            )

    df_asset_profiles = pd.concat(dataframes_asset_profile)
    df_company_officers = pd.concat(dataframes_company_officers)
    df_esg_info = pd.concat(dataframes_esg_info)

    return  df_asset_profiles, df_company_officers, df_esg_info

In [21]:

ticker_list = ticker_data['ticker'].iloc[250:]
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}


#url_esg = "https://query2.finance.yahoo.com/v1/finance/esgChart"
dataframes_esg = []
dataframes_price = []

for ticker in ticker_list:
    print(ticker)
    # ESG historical data (only changes yearly)
    url_esg = f"https://query2.finance.yahoo.com/v1/finance/esgChart?symbol={ticker}"
    response = requests.get(url_esg, headers=headers)
    if response.ok:
        try:
            tmp_df_esg = pd.DataFrame(response.json()["esgChart"]["result"][0]["symbolSeries"])
        except TypeError:
            continue
        except KeyError:
            continue

        tmp_df_esg["ticker"] = ticker
        tmp_df_esg["timestamp"] = pd.to_datetime(tmp_df_esg["timestamp"], unit="s")
        dataframes_esg.append(tmp_df_esg)
        print(tmp_df_esg.shape)

df_esg = pd.concat(dataframes_esg)

INTC
(90, 6)
ICE
(90, 6)
IBM
(90, 6)
IP
(90, 6)
IPG
(90, 6)
IFF
(90, 6)
INTU
(90, 6)
ISRG
(90, 6)
IVZ
(90, 6)
IPGP
(90, 6)
IQV
(51, 6)
IRM
(90, 6)
JBHT
(90, 6)
JKHY
(67, 6)
J
(90, 6)
JNJ
(90, 6)
JCI
(90, 6)
JPM
(90, 6)
JNPR
(90, 6)
K
(90, 6)
KEY
(90, 6)
KEYS
(77, 6)
KMB
(90, 6)
KIM
(90, 6)
KMI
(90, 6)
KLAC
(90, 6)
KHC
(75, 6)
KR
(90, 6)
LHX
LH
(90, 6)
LRCX
(90, 6)
LW
LVS
(90, 6)
LDOS
(90, 6)
LEN
(90, 6)
LLY
(90, 6)
LNC
(90, 6)
LIN
LYV
LKQ
(90, 6)
LMT
(90, 6)
L
(90, 6)
LOW
(90, 6)
LUMN
(19, 6)
LYB
(90, 6)
MTB
(90, 6)
MRO
(90, 6)
MPC
(90, 6)
MKTX
MAR
(90, 6)
MMC
(90, 6)
MLM
(90, 6)
MAS
(90, 6)
MA
(90, 6)
MTCH
MKC
(90, 6)
MCD
(90, 6)
MCK
(90, 6)
MDT
(90, 6)
MRK
(90, 6)
FB
(90, 6)
MET
(90, 6)
MTD
(90, 6)
MGM
(90, 6)
MCHP
(90, 6)
MU
(90, 6)
MSFT
(90, 6)
MAA
(64, 6)
MRNA
MHK
(90, 6)
MOH
TAP
(90, 6)
MDLZ
(90, 6)
MPWR
MNST
(90, 6)
MCO
(90, 6)
MS
(90, 6)
MOS
(90, 6)
MSI
(90, 6)
MSCI
(90, 6)
NDAQ
(90, 6)
NTAP
(90, 6)
NFLX
(90, 6)
NWL
(90, 6)
NEM
(90, 6)
NWSA
(90, 6)
NWS
NEE
(90, 6)
NLSN
(90, 6)
NKE
(90, 6)
NI
(90, 6)
NDSN
(90, 6)
NSC
(90, 6)
NTRS
(90, 6)
NOC
(90, 6)
NLOK
(27, 6)
NCLH
(77, 6)
NRG
(90, 6)
NUE
(90, 6)
NVDA
(90, 6)
NVR
(90, 6)
NXPI
(90, 6)
ORLY
(90, 6)
OXY
(90, 6)
ODFL
OMC
(90, 6)
OKE
(90, 6)
ORCL
(90, 6)
OGN
OTIS
PCAR
(90, 6)
PKG
(90, 6)
PARA
PH
(90, 6)
PAYX
(90, 6)
PAYC
PYPL
(75, 6)
PENN
PNR
(90, 6)
PEP
(90, 6)
PKI
(90, 6)
PFE
(90, 6)
PM
(90, 6)
PSX
(90, 6)
PNW
(90, 6)
PXD
(90, 6)
PNC
(90, 6)
POOL
PPG
(90, 6)
PPL
(90, 6)
PFG
(90, 6)
PG
(90, 6)
PGR
(90, 6)
PLD
(90, 6)
PRU
(90, 6)
PEG
(90, 6)
PTC
(90, 6)
PSA
(90, 6)
PHM
(90, 6)
PVH
(90, 6)
QRVO
(75, 6)
PWR
(90, 6)
QCOM
(90, 6)
DGX
(90, 6)
RL
(90, 6)
RJF
(90, 6)
RTX
(4, 6)
O
(90, 6)
REG
(90, 6)
REGN
(90, 6)
RF
(90, 6)
RSG
(90, 6)
RMD
(77, 6)
RHI
(90, 6)
ROK
(90, 6)
ROL
(90, 6)
ROP
(90, 6)
ROST
(90, 6)
RCL
(90, 6)
SPGI
(77, 6)
CRM
(90, 6)
SBAC
(90, 6)
SLB
(90, 6)
STX
(81, 6)
SEE
(90, 6)
SRE
(90, 6)
NOW
(90, 6)
SHW
(90, 6)
SBNY
(70, 6)
SPG
(90, 6)
SWKS
(90, 6)
SJM
(90, 6)
SNA
(90, 6)
SEDG
SO
(90, 6)
LUV
(90, 6)
SWK
(90, 6)
SBUX
(90, 6)
STT
(90, 6)
STE
SYK
(90, 6)
SIVB
(70, 6)
SYF
(82, 6)
SNPS
(90, 6)
SYY
(90, 6)
TMUS
(90, 6)
TROW
(90, 6)
TTWO
TPR
(51, 6)
TGT
(90, 6)
TEL
(90, 6)
TDY
TFX
(90, 6)
TER
(90, 6)
TSLA
(90, 6)
TXN
(90, 6)
TXT
(90, 6)
TMO
(90, 6)
TJX
(90, 6)
TSCO
(90, 6)
TT
(27, 6)
TDG
(90, 6)
TRV
(90, 6)
TRMB
(90, 6)
TFC
(4, 6)
TWTR
(90, 6)
TYL
TSN
(90, 6)
USB
(74, 6)
UDR
(90, 6)
ULTA
(90, 6)
UAA
(90, 6)
UA
UNP
(90, 6)
UAL
(90, 6)
UNH
(90, 6)
UPS
(90, 6)
URI
(90, 6)
UHS
(90, 6)
VLO
(90, 6)
VTR
(90, 6)
VRSN
(90, 6)
VRSK
(90, 6)
VZ
(90, 6)
VRTX
(90, 6)
VFC
(90, 6)
VTRS
V
(90, 6)
VNO
(90, 6)
VMC
(90, 6)
WAB
(90, 6)
WMT
(90, 6)
WBA
(90, 6)
WBD
WM
(90, 6)
WAT
(90, 6)
WEC
(90, 6)
WFC
(90, 6)
WELL
(90, 6)
WST
WDC
(90, 6)
WRK
(61, 6)
WY
(90, 6)
WHR
(90, 6)
WMB
(90, 6)
WTW
(1, 6)
WYNN
(90, 6)
XEL
(90, 6)
XYL
(90, 6)
YUM
(90, 6)
ZBRA
ZBH
(90, 6)
ZION
(51, 6)
ZTS
(90, 6)

In [18]:
df_esg1.shape

(19336, 6)

In [22]:
df_esg = pd.concat((df_esg, df_esg1))

In [26]:
len(np.unique(df_esg['ticker']))

453

In [29]:
print("df_esg")
df_esg = get_yh_esg(ticker_data['ticker'])

df_esg

ValueError: No objects to concatenate

In [27]:
print("df_asset_profiles")
df_asset_profiles, df_company_officers, df_esg_info = get_yh_asset_esg(ticker_data['ticker'])

df_asset_profiles

In [28]:
df_asset_profiles.sort_values(by = 'sector')

,address,city,state,zip,country,industry,sector,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,ticker
0,101 West Prospect Avenue,Cleveland,OH,44115-1075,United States,Specialty Chemicals,Basic Materials,7,4,8,7,SHW
0,9330 Zionsville Road,Indianapolis,IN,46268-0735,United States,Agricultural Inputs,Basic Materials,5,5,5,4,CTVA
0,2929 Walnut Street,Philadelphia,PA,19104,United States,Agricultural Inputs,Basic Materials,8,6,8,6,FMC
0,The Priestley Centre,Guildford,None,GU2 7XY,United Kingdom,Specialty Chemicals,Basic Materials,6,4,1,4,LIN
0,333 North Central Avenue,Phoenix,AZ,85004-2189,United States,Copper,Basic Materials,5,2,4,3,FCX
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1800 Three Lincoln Centre,Dallas,TX,75240,United States,Utilities—Regulated Gas,Utilities,7,6,7,7,ATO
0,1 Water Street,Camden,NJ,08102-1658,United States,Utilities—Regulated Water,Utilities,1,5,3,1,AWK
0,1 Riverside Plaza,Columbus,OH,43215-2373,United States,Utilities—Regulated Electric,Utilities,3,5,7,8,AEP
0,4 Irving Place,New York,NY,10003,United States,Utilities—Regulated Electric,Utilities,3,7,1,2,ED
0,One Energy Plaza,Jackson,MI,49201,United States,Utilities—Regulated Electric,Utilities,3,1,7,2,CMS

In [31]:
print("df_price")
df_price = get_yh_price(ticker_data['ticker'], interval = '1d')

df_price
0 of 503
1 of 503
2 of 503
3 of 503
4 of 503
5 of 503
6 of 503
7 of 503
8 of 503
9 of 503
10 of 503
11 of 503
12 of 503
13 of 503
14 of 503
15 of 503
16 of 503
17 of 503
18 of 503
19 of 503
20 of 503
21 of 503
22 of 503
23 of 503
24 of 503
25 of 503
26 of 503
27 of 503
28 of 503
29 of 503
30 of 503
31 of 503
32 of 503
33 of 503
34 of 503
35 of 503
36 of 503
37 of 503
38 of 503
39 of 503
40 of 503
41 of 503
42 of 503
43 of 503
44 of 503
45 of 503
46 of 503
47 of 503
48 of 503
49 of 503
50 of 503
51 of 503
52 of 503
53 of 503
54 of 503
55 of 503
56 of 503
57 of 503
58 of 503
59 of 503
60 of 503
61 of 503
62 of 503
63 of 503
64 of 503
65 of 503
66 of 503
67 of 503
68 of 503
69 of 503
70 of 503
71 of 503
72 of 503
73 of 503
74 of 503
75 of 503
76 of 503
77 of 503
78 of 503
79 of 503
80 of 503
81 of 503
82 of 503
83 of 503
84 of 503
85 of 503
86 of 503
87 of 503
88 of 503
89 of 503
90 of 503
91 of 503
92 of 503
93 of 503
94 of 503
95 of 503
96 of 503
97 of 503
98 of 503
99 of 503
100 of 503
101 of 503
102 of 503
103 of 503
104 of 503
105 of 503
106 of 503
107 of 503
108 of 503
109 of 503
110 of 503
111 of 503
112 of 503
113 of 503
114 of 503
115 of 503
116 of 503
117 of 503
118 of 503
119 of 503
120 of 503
121 of 503
122 of 503
123 of 503
124 of 503
125 of 503
126 of 503
127 of 503
128 of 503
129 of 503
130 of 503
131 of 503
132 of 503
133 of 503
134 of 503
135 of 503
136 of 503
137 of 503
138 of 503
139 of 503
140 of 503
141 of 503
142 of 503
143 of 503
144 of 503
145 of 503
146 of 503
147 of 503
148 of 503
149 of 503
150 of 503
151 of 503
152 of 503
153 of 503
154 of 503
155 of 503
156 of 503
157 of 503
158 of 503
159 of 503
160 of 503
161 of 503
162 of 503
163 of 503
164 of 503
165 of 503
166 of 503
167 of 503
168 of 503
169 of 503
170 of 503
171 of 503
172 of 503
173 of 503
174 of 503
175 of 503
176 of 503
177 of 503
178 of 503
179 of 503
180 of 503
181 of 503
182 of 503
183 of 503
184 of 503
185 of 503
186 of 503
187 of 503
188 of 503
189 of 503
190 of 503
191 of 503
192 of 503
193 of 503
194 of 503
195 of 503
196 of 503
197 of 503
198 of 503
199 of 503
200 of 503
201 of 503
202 of 503
203 of 503
204 of 503
205 of 503
206 of 503
207 of 503
208 of 503
209 of 503
210 of 503
211 of 503
212 of 503
213 of 503
214 of 503
215 of 503
216 of 503
217 of 503
218 of 503
219 of 503
220 of 503
221 of 503
222 of 503
223 of 503
224 of 503
225 of 503
226 of 503
227 of 503
228 of 503
229 of 503
230 of 503
231 of 503
232 of 503
233 of 503
234 of 503
235 of 503
236 of 503
237 of 503
238 of 503
239 of 503
240 of 503
241 of 503
242 of 503
243 of 503
244 of 503
245 of 503
246 of 503
247 of 503
248 of 503
249 of 503
250 of 503
251 of 503
252 of 503
253 of 503
254 of 503
255 of 503
256 of 503
257 of 503
258 of 503
259 of 503
260 of 503
261 of 503
262 of 503
263 of 503
264 of 503
265 of 503
266 of 503
267 of 503
268 of 503
269 of 503
270 of 503
271 of 503
272 of 503
273 of 503
274 of 503
275 of 503
276 of 503
277 of 503
278 of 503
279 of 503
280 of 503
281 of 503
282 of 503
283 of 503
284 of 503
285 of 503
286 of 503
287 of 503
288 of 503
289 of 503
290 of 503
291 of 503
292 of 503
293 of 503
294 of 503
295 of 503
296 of 503
297 of 503
298 of 503
299 of 503
300 of 503
301 of 503
302 of 503
303 of 503
304 of 503
305 of 503
306 of 503
307 of 503
308 of 503
309 of 503
310 of 503
311 of 503
312 of 503
313 of 503
314 of 503
315 of 503
316 of 503
317 of 503
318 of 503
319 of 503
320 of 503
321 of 503
322 of 503
323 of 503
324 of 503
325 of 503
326 of 503
327 of 503
328 of 503
329 of 503
330 of 503
331 of 503
332 of 503
333 of 503
334 of 503
335 of 503
336 of 503
337 of 503
338 of 503
339 of 503
340 of 503
341 of 503
342 of 503
343 of 503
344 of 503
345 of 503
346 of 503
347 of 503
348 of 503
349 of 503
350 of 503
351 of 503
352 of 503
353 of 503
354 of 503
355 of 503
356 of 503
357 of 503
358 of 503
359 of 503
360 of 503
361 of 503
362 of 503
363 of 503
364 of 503
365 of 503
366 of 503
367 of 503
368 of 503
369 of 503
370 of 503
371 of 503
372 of 503
373 of 503
374 of 503
375 of 503
376 of 503
377 of 503
378 of 503
379 of 503
380 of 503
381 of 503
382 of 503
383 of 503
384 of 503
385 of 503
386 of 503
387 of 503
388 of 503
389 of 503
390 of 503
391 of 503
392 of 503
393 of 503
394 of 503
395 of 503
396 of 503
397 of 503
398 of 503
399 of 503
400 of 503
401 of 503
402 of 503
403 of 503
404 of 503
405 of 503
406 of 503
407 of 503
408 of 503
409 of 503
410 of 503
411 of 503
412 of 503
413 of 503
414 of 503
415 of 503
416 of 503
417 of 503
418 of 503
419 of 503
420 of 503
421 of 503
422 of 503
423 of 503
424 of 503
425 of 503
426 of 503
427 of 503
428 of 503
429 of 503
430 of 503
431 of 503
432 of 503
433 of 503
434 of 503
435 of 503
436 of 503
437 of 503
438 of 503
439 of 503
440 of 503
441 of 503
442 of 503
443 of 503
444 of 503
445 of 503
446 of 503
447 of 503
448 of 503
449 of 503
450 of 503
451 of 503
452 of 503
453 of 503
454 of 503
455 of 503
456 of 503
457 of 503
458 of 503
459 of 503
460 of 503
461 of 503
462 of 503
463 of 503
464 of 503
465 of 503
466 of 503
467 of 503
468 of 503
469 of 503
470 of 503
471 of 503
472 of 503
473 of 503
474 of 503
475 of 503
476 of 503
477 of 503
478 of 503
479 of 503
480 of 503
481 of 503
482 of 503
483 of 503
484 of 503
485 of 503
486 of 503
487 of 503
488 of 503
489 of 503
490 of 503
491 of 503
492 of 503
493 of 503
494 of 503
495 of 503
496 of 503
497 of 503
498 of 503
499 of 503
500 of 503
501 of 503
502 of 503
503 of 503

In [32]:
df_price.to_csv('YAHOO_PRICE.csv')

In [30]:
writer = pd.ExcelWriter('YAHOO_PRICE_ESG.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
df_esg.to_excel(writer, sheet_name='ESG')
df_esg_info.to_excel(writer, sheet_name='esg_info')
#df_price.to_excel(writer, sheet_name='PRICE')
df_asset_profiles.to_excel(writer, sheet_name='asset_profiles')
df_company_officers.to_excel(writer, sheet_name='company_officers')

# Close the Pandas Excel writer and output the Excel file.
writer.save()
writer.close()

C:\Users\User\Code\MMDGraph\.mmdvenv\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")