In [3]:

import requests
import pandas as pd
import bs4 
import numpy as np

Get wiki ticker

In [4]:

def get_wiki_ticker():
    wiki_page = requests.get("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies").text
    soup = bs4.BeautifulSoup(wiki_page, 'html.parser')
    table = soup.find("table", {"class":"wikitable sortable"})

    ticker = []
    Sector = []
    SubSector = []
    HqLocation = []
    Founded = []

    # First row is header
    for row in table.findAll('tr')[1:]:
        ticker.append(row.findAll('td')[0].text)
        Sector.append(row.findAll('td')[3].text)
        SubSector.append(row.findAll('td')[4].text)
        HqLocation.append(row.findAll('td')[5].text)
        Founded.append(row.findAll('td')[8].text)

    ticker = list(map(lambda s: s.strip(), ticker))
    Founded = list(map(lambda s: s.strip(), Founded))

    ticker = pd.DataFrame(ticker,columns=['ticker'])
    sector = pd.DataFrame(Sector,columns=['sector'])
    subSector = pd.DataFrame(SubSector,columns=['subSector'])
    hqLocation = pd.DataFrame(HqLocation,columns=['hqLocation'])
    founded = pd.DataFrame(Founded,columns=['founded'])



    return  pd.concat([ticker, sector, subSector, hqLocation,founded],axis=1)

In [5]:
ticker_data = get_wiki_ticker()
# df["sector"] = row['sector']
# df["subSector"] = row['subSector']
# df["hqLocation"] = row['hqLocation']
# df["founded"] = row['founded']

# Get Price data

In [6]:
def get_yh_esg(ticker_list):
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

    
    #url_esg = "https://query2.finance.yahoo.com/v1/finance/esgChart"
    dataframes_esg = []
    dataframes_price = []

    for ticker in ticker_list:
        # ESG historical data (only changes yearly)
        url_esg = f"https://query2.finance.yahoo.com/v1/finance/esgChart?symbol={ticker}"
        response = requests.get(url_esg, headers=headers)
        if response.ok:
            try:
                tmp_df_esg = pd.DataFrame(response.json()["esgChart"]["result"][0]["symbolSeries"])
            except TypeError:
                continue
            except KeyError:
                continue

            tmp_df_esg["ticker"] = ticker
            tmp_df_esg["timestamp"] = pd.to_datetime(tmp_df_esg["timestamp"], unit="s")
            dataframes_esg.append(tmp_df_esg)

    df_esg = pd.concat(dataframes_esg)


    return df_esg

In [7]:

def get_yh_price(ticker_list, start_period = '1052125800', interval = '1wk'):
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    
    dataframes_price = []

    for i, ticker in enumerate(ticker_list):
        print(f'{i} of {ticker_list.shape[0]-1}')

        # Price data
        url_price = f"http://query2.finance.yahoo.com/v8/finance/chart/{ticker}?symbol={ticker}&period1={start_period}&period2=9999999999&interval={interval}"
        response = requests.get(url_price, headers=headers)
        if response.ok:
            try:
                dates = pd.DataFrame({'timestamp':response.json()["chart"]["result"][0]["timestamp"]})

                #low, open ,volume, close, high
                df_quote = pd.DataFrame(response.json()["chart"]["result"][0]["indicators"]["quote"][0])
                # ad_close
                df_adjclose = pd.DataFrame(response.json()["chart"]["result"][0]["indicators"]["adjclose"][0])

                tmp_df_price = pd.concat([dates, df_quote,df_adjclose], axis=1)
                tmp_df_price['timestamp'] = pd.to_datetime(tmp_df_price['timestamp'], unit = "s")

            except TypeError:
                continue
            except KeyError:
                continue

            tmp_df_price["ticker"] = ticker
            dataframes_price.append(tmp_df_price)

    df_price = pd.concat(dataframes_price)

    return  df_price

In [8]:
def get_yh_asset_esg(ticker_list):

    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    
    dataframes_asset_profile = []
    dataframes_company_officers = []
    dataframes_esg_info = []

    for ticker in ticker_list:

        # Price data
        url = f"https://query2.finance.yahoo.com/v10/finance/quoteSummary/{ticker}?modules=assetProfile%2CesgScores"
        response = requests.get(url, headers=headers)
        if response.ok:
            try:
                assetProfile = response.json()["quoteSummary"]["result"][0]["assetProfile"]
                #esg_scores_dict = response.json()["quoteSummary"]["result"][0]["esgScores"]
            except TypeError:
                assetProfile = dict()
            except KeyError:
                assetProfile = dict()
            
            try:
                esg_scores_dict = response.json()["quoteSummary"]["result"][0]["esgScores"]
            except TypeError:
                esg_scores_dict = dict()
            except KeyError:
                esg_scores_dict = dict()
                
            
            df_asset_profile = pd.DataFrame({'address':assetProfile.get('address1', None),
                                            'city':assetProfile.get('city', None),
                                            'state':assetProfile.get('state', None),
                                            'zip':assetProfile.get('zip', None),
                                            'country':assetProfile.get('country', None),
                                            'industry':assetProfile.get('industry', None),
                                            'sector':assetProfile.get('sector', None),
                                            'boardRisk':assetProfile.get('boardRisk', None),
                                            'compensationRisk':assetProfile.get('compensationRisk', None),
                                            'shareHolderRightsRisk':assetProfile.get('shareHolderRightsRisk', None),
                                            'overallRisk':assetProfile.get('overallRisk', None),
                                            'ticker':ticker}, 
                                        index = [0])

            dataframes_asset_profile.append(df_asset_profile)

            officers = {'maxAge':list(),
                        'name':list(),
                        'age':list(),
                        'title':list(),
                        'yearBorn':list(),
                        'fiscalYear':list(),
                        'totalPay':list(),
                        'exercisedValue':list(),
                        'unexercisedValue':list()}

            for item in assetProfile['companyOfficers']:
                officers['maxAge'].append(item.get('maxAge', None))
                officers['name'].append(item.get('name', None))
                officers['age'].append(item.get('age', None))
                officers['title'].append(item.get('title', None))
                officers['yearBorn'].append(item.get('yearBorn', None))
                officers['fiscalYear'].append(item.get('fiscalYear', None))

                if not item.get('totalPay', None) is None:
                    officers['totalPay'].append(item['totalPay'].get('raw', None))
                else:
                    officers['totalPay'].append(None)

                if not item.get('exercisedValue', None) is None:
                    officers['exercisedValue'].append(item['exercisedValue'].get('raw', None))
                else:
                    officers['exercisedValue'].append(None)
                    
                if not item.get('unexercisedValue', None) is None:
                    officers['unexercisedValue'].append(item['unexercisedValue'].get('raw', None))
                else:
                    officers['unexercisedValue'].append(None)

        

            officers = pd.DataFrame(officers)#index = list(range(len(assetProfile['companyOfficers'])))
            officers['ticker'] = ticker


            dataframes_company_officers.append(officers)


            dataframes_esg_info.append( pd.DataFrame({'adult':esg_scores_dict.get('adult', None),
                'alcoholic':esg_scores_dict.get('alcoholic', None),
                'animalTesting':esg_scores_dict.get('animalTesting', None),
                'catholic':esg_scores_dict.get('catholic', None),
                'controversialWeapons':esg_scores_dict.get('controversialWeapons', None),
                'smallArms':esg_scores_dict.get('smallArms', None),
                'furLeather':esg_scores_dict.get('furLeather', None),
                'gambling':esg_scores_dict.get('gambling', None),
                'gmo':esg_scores_dict.get('gmo', None),
                'militaryContract':esg_scores_dict.get('militaryContract', None),
                'nuclear':esg_scores_dict.get('nuclear', None),
                'pesticides':esg_scores_dict.get('pesticides', None),
                'palmOil':esg_scores_dict.get('palmOil', None),
                'coal':esg_scores_dict.get('coal', None),
                'tobacco':esg_scores_dict.get('tobacco',None),
                'ticker':ticker}, index = [0])
            )

    df_asset_profiles = pd.concat(dataframes_asset_profile)
    df_company_officers = pd.concat(dataframes_company_officers)
    df_esg_info = pd.concat(dataframes_esg_info)

    return  df_asset_profiles, df_company_officers, df_esg_info

In [9]:
print("df_esg")
df_esg = get_yh_esg(ticker_data['ticker'])

df_esg

In [10]:
print("df_asset_profiles")
df_asset_profiles, df_company_officers, df_esg_info = get_yh_asset_esg(ticker_data['ticker'])

df_asset_profiles

In [11]:
df_asset_profiles.sort_values(by = 'sector')

,address,city,state,zip,country,industry,sector,boardRisk,compensationRisk,shareHolderRightsRisk,overallRisk,ticker
0,One PPG Place,Pittsburgh,PA,15272,United States,Specialty Chemicals,Basic Materials,6,2,9,6,PPG
0,222 West Las Colinas Boulevard,Irving,TX,75039-5421,United States,Chemicals,Basic Materials,1,2,8,3,CE
0,333 North Central Avenue,Phoenix,AZ,85004-2189,United States,Copper,Basic Materials,5,2,4,3,FCX
0,1915 Rexford Road,Charlotte,NC,28211,United States,Steel,Basic Materials,8,4,8,7,NUE
0,2929 Walnut Street,Philadelphia,PA,19104,United States,Agricultural Inputs,Basic Materials,9,4,8,7,FMC
...,...,...,...,...,...,...,...,...,...,...,...,...
0,80 Park Plaza,Newark,NJ,07102,United States,Utilities—Diversified,Utilities,5,1,5,2,PEG
0,Two North Ninth Street,Allentown,PA,18101-1179,United States,Utilities—Regulated Electric,Utilities,3,2,4,2,PPL
0,400 North Fifth Street,Phoenix,AZ,85072-3999,United States,Utilities—Regulated Electric,Utilities,5,3,6,4,PNW
0,1111 Louisiana Street,Houston,TX,77002,United States,Utilities—Regulated Electric,Utilities,4,7,8,7,CNP
0,1800 Three Lincoln Centre,Dallas,TX,75240,United States,Utilities—Regulated Gas,Utilities,7,6,7,7,ATO

In [12]:
print("df_price")
df_price = get_yh_price(ticker_data['ticker'], interval = '1d')

df_price
0 of 504
1 of 504
2 of 504
3 of 504
4 of 504
5 of 504
6 of 504
7 of 504
8 of 504
9 of 504
10 of 504
11 of 504
12 of 504
13 of 504
14 of 504
15 of 504
16 of 504
17 of 504
18 of 504
19 of 504
20 of 504
21 of 504
22 of 504
23 of 504
24 of 504
25 of 504
26 of 504
27 of 504
28 of 504
29 of 504
30 of 504
31 of 504
32 of 504
33 of 504
34 of 504
35 of 504
36 of 504
37 of 504
38 of 504
39 of 504
40 of 504
41 of 504
42 of 504
43 of 504
44 of 504
45 of 504
46 of 504
47 of 504
48 of 504
49 of 504
50 of 504
51 of 504
52 of 504
53 of 504
54 of 504
55 of 504
56 of 504
57 of 504
58 of 504
59 of 504
60 of 504
61 of 504
62 of 504
63 of 504
64 of 504
65 of 504
66 of 504
67 of 504
68 of 504
69 of 504
70 of 504
71 of 504
72 of 504
73 of 504
74 of 504
75 of 504
76 of 504
77 of 504
78 of 504
79 of 504
80 of 504
81 of 504
82 of 504
83 of 504
84 of 504
85 of 504
86 of 504
87 of 504
88 of 504
89 of 504
90 of 504
91 of 504
92 of 504
93 of 504
94 of 504
95 of 504
96 of 504
97 of 504
98 of 504
99 of 504
100 of 504
101 of 504
102 of 504
103 of 504
104 of 504
105 of 504
106 of 504
107 of 504
108 of 504
109 of 504
110 of 504
111 of 504
112 of 504
113 of 504
114 of 504
115 of 504
116 of 504
117 of 504
118 of 504
119 of 504
120 of 504
121 of 504
122 of 504
123 of 504
124 of 504
125 of 504
126 of 504
127 of 504
128 of 504
129 of 504
130 of 504
131 of 504
132 of 504
133 of 504
134 of 504
135 of 504
136 of 504
137 of 504
138 of 504
139 of 504
140 of 504
141 of 504
142 of 504
143 of 504
144 of 504
145 of 504
146 of 504
147 of 504
148 of 504
149 of 504
150 of 504
151 of 504
152 of 504
153 of 504
154 of 504
155 of 504
156 of 504
157 of 504
158 of 504
159 of 504
160 of 504
161 of 504
162 of 504
163 of 504
164 of 504
165 of 504
166 of 504
167 of 504
168 of 504
169 of 504
170 of 504
171 of 504
172 of 504
173 of 504
174 of 504
175 of 504
176 of 504
177 of 504
178 of 504
179 of 504
180 of 504
181 of 504
182 of 504
183 of 504
184 of 504
185 of 504
186 of 504
187 of 504
188 of 504
189 of 504
190 of 504
191 of 504
192 of 504
193 of 504
194 of 504
195 of 504
196 of 504
197 of 504
198 of 504
199 of 504
200 of 504
201 of 504
202 of 504
203 of 504
204 of 504
205 of 504
206 of 504
207 of 504
208 of 504
209 of 504
210 of 504
211 of 504
212 of 504
213 of 504
214 of 504
215 of 504
216 of 504
217 of 504
218 of 504
219 of 504
220 of 504
221 of 504
222 of 504
223 of 504
224 of 504
225 of 504
226 of 504
227 of 504
228 of 504
229 of 504
230 of 504
231 of 504
232 of 504
233 of 504
234 of 504
235 of 504
236 of 504
237 of 504
238 of 504
239 of 504
240 of 504
241 of 504
242 of 504
243 of 504
244 of 504
245 of 504
246 of 504
247 of 504
248 of 504
249 of 504
250 of 504
251 of 504
252 of 504
253 of 504
254 of 504
255 of 504
256 of 504
257 of 504
258 of 504
259 of 504
260 of 504
261 of 504
262 of 504
263 of 504
264 of 504
265 of 504
266 of 504
267 of 504
268 of 504
269 of 504
270 of 504
271 of 504
272 of 504
273 of 504
274 of 504
275 of 504
276 of 504
277 of 504
278 of 504
279 of 504
280 of 504
281 of 504
282 of 504
283 of 504
284 of 504
285 of 504
286 of 504
287 of 504
288 of 504
289 of 504
290 of 504
291 of 504
292 of 504
293 of 504
294 of 504
295 of 504
296 of 504
297 of 504
298 of 504
299 of 504
300 of 504
301 of 504
302 of 504
303 of 504
304 of 504
305 of 504
306 of 504
307 of 504
308 of 504
309 of 504
310 of 504
311 of 504
312 of 504
313 of 504
314 of 504
315 of 504
316 of 504
317 of 504
318 of 504
319 of 504
320 of 504
321 of 504
322 of 504
323 of 504
324 of 504
325 of 504
326 of 504
327 of 504
328 of 504
329 of 504
330 of 504
331 of 504
332 of 504
333 of 504
334 of 504
335 of 504
336 of 504
337 of 504
338 of 504
339 of 504
340 of 504
341 of 504
342 of 504
343 of 504
344 of 504
345 of 504
346 of 504
347 of 504
348 of 504
349 of 504
350 of 504
351 of 504
352 of 504
353 of 504
354 of 504
355 of 504
356 of 504
357 of 504
358 of 504
359 of 504
360 of 504
361 of 504
362 of 504
363 of 504
364 of 504
365 of 504
366 of 504
367 of 504
368 of 504
369 of 504
370 of 504
371 of 504
372 of 504
373 of 504
374 of 504
375 of 504
376 of 504
377 of 504
378 of 504
379 of 504
380 of 504
381 of 504
382 of 504
383 of 504
384 of 504
385 of 504
386 of 504
387 of 504
388 of 504
389 of 504
390 of 504
391 of 504
392 of 504
393 of 504
394 of 504
395 of 504
396 of 504
397 of 504
398 of 504
399 of 504
400 of 504
401 of 504
402 of 504
403 of 504
404 of 504
405 of 504
406 of 504
407 of 504
408 of 504
409 of 504
410 of 504
411 of 504
412 of 504
413 of 504
414 of 504
415 of 504
416 of 504
417 of 504
418 of 504
419 of 504
420 of 504
421 of 504
422 of 504
423 of 504
424 of 504
425 of 504
426 of 504
427 of 504
428 of 504
429 of 504
430 of 504
431 of 504
432 of 504
433 of 504
434 of 504
435 of 504
436 of 504
437 of 504
438 of 504
439 of 504
440 of 504
441 of 504
442 of 504
443 of 504
444 of 504
445 of 504
446 of 504
447 of 504
448 of 504
449 of 504
450 of 504
451 of 504
452 of 504
453 of 504
454 of 504
455 of 504
456 of 504
457 of 504
458 of 504
459 of 504
460 of 504
461 of 504
462 of 504
463 of 504
464 of 504
465 of 504
466 of 504
467 of 504
468 of 504
469 of 504
470 of 504
471 of 504
472 of 504
473 of 504
474 of 504
475 of 504
476 of 504
477 of 504
478 of 504
479 of 504
480 of 504
481 of 504
482 of 504
483 of 504
484 of 504
485 of 504
486 of 504
487 of 504
488 of 504
489 of 504
490 of 504
491 of 504
492 of 504
493 of 504
494 of 504
495 of 504
496 of 504
497 of 504
498 of 504
499 of 504
500 of 504
501 of 504
502 of 504
503 of 504
504 of 504

In [13]:
df_price.to_csv('YAHOO_PRICE.csv')

In [15]:
writer = pd.ExcelWriter('YAHOO_PRICE_ESG.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
df_esg.to_excel(writer, sheet_name='ESG')
df_esg_info.to_excel(writer, sheet_name='esg_info')
#df_price.to_excel(writer, sheet_name='PRICE')
df_asset_profiles.to_excel(writer, sheet_name='asset_profiles')
df_company_officers.to_excel(writer, sheet_name='company_officers')

# Close the Pandas Excel writer and output the Excel file.
writer.save()
writer.close()

c:\Users\ragna\Documents\Code\MMDGraph\.venv\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")